@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@source "../views";


@theme {
    --font-primary: "Figtree", sans;
}

input[type=file]::file-selector-button {
    color: white;
    @apply bg-blue-950 hover:bg-gray-500 p-2 mr-2;
}

#DataTables_Table_0_length>label>select {
    @apply text-sm;
    width: 53px;
    margin: 0 5px;
}

.ck-editor__main {
    max-width: 100%;
    box-sizing: border-box;
}

.ck-content ul,
.ck-content ol {
    list-style-type: disc;
    padding-left: 20px;
    display: block;
}

.ck-content h1,
.ck-content h2,
.ck-content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    -webkit-text-fill-color: #162456;
}

.ck-content img {
    max-width: 80%;
    height: auto;
    @apply rounded-2xl justify-center mx-auto;
}

#DataTables_Table_0_wrapper>div.top {
    @apply flex justify-between items-center px-2 bg-gray-200 p-2
}

#DataTables_Table_0_wrapper>div.top>div.top-right {
    @apply flex flex-row gap-2 items-center
}

#DataTables_Table_0_wrapper>div.top>div.top-right>div.dt-buttons>button.dt-button.buttons-excel.buttons-html5 {
    border: 1px solid #aaa;
    border-radius: 3px;
    line-height: 1.5rem;
    padding: 5px;
    background-color: transparent;
    color: inherit;
}